{
  "extends": "standard",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "emcaFeatures": {
    "modules": true
  },
  "rules": {
    "space-before-function-paren": "off"
  }
}