version: "3.3"

services:
  postgres:
    image: postgres
    restart: always
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      PGDATA : /var/lib/postgresql/data
      POSTGRES_DB: coding_challenge_dev

volumes:
  postgres-data: