# GENERAL
PORT=3000

# DEV
DOMAIN=localhost
DATABASE_URL=postgresql://admin:password123@localhost:6500/node_prisma?schema=public
MORGAN_FORMAT=dev
NODE_ENV=development
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=6500
POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
POSTGRES_DB=node_prisma
REDIS_URL=redis://localhost:6379

# PROD
# DOMAIN=jaskarn-busbud.onrender.com
# DATABASE_URL=postgresql://admin:password123@localhost:6500/node_prisma?schema=public
# MORGAN_FORMAT=common
# REDIS_URL=redis://localhost:6379
