{erl_opts, [debug_info]}.

{deps, [{cowboy, "2.6.3"},
        {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}}]}.

{erlc_opts, [debug_info, report, verbose, warn_export_all,
             warn_export_vars, warn_obsolete_guard, warn_shadow_vars,
             warn_untyped_record, warn_unused_import, warnings_as_errors]}.

{ct_log_dir, "test/logs"}.
{ct_readable, true}.
{ct_opts, [{config, "config/test.config"}]}.

{profiles, [{test,
             [{deps, [{meck,
                       {git, "git://github.com/eproxus/meck.git", {tag, "0.8.13"}}}]}]},
            {dev,
             [{deps, [{sync, ".*",
                       {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}]}]}]}.

{shell, [{apps, [busbudcc,
                 sync]}]}.

{relx, [{release, {busbudcc, "0.0.1"},
         [busbudcc]},

        {dev_mode, true},
        {include_erts, false},
        {sys_config, "config/sys.config"},

        {extended_start_script, true}]}.
