body{
	background: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
body:after {
	background: rgba(134,6,71,0.7);
}
.wrap{
	width:80%;
	margin:0 auto;
}
.content-header h1{
	color: #fff;
	font-size: 4em;
	font-weight: inherit;
}
.content-header p{
	color: #fff;
	font-size: 1em;
	font-weight: inherit;
	word-spacing: 0.2em;
}
.content-header {
	text-align: center;
	margin-top: 10em;
}
.search{
	text-align: center;
	width: 50%;
	margin: 0 auto;
	text-align: center;
	padding: 2em;
	margin-top: 2em;
}
.search input[type="text"]{
	width:80%;
	padding:12px;
	border:none;
	outline:none;
}
.github {
	position:absolute;
	width:90px;
	height:20px;
	margin-left:-30px;
	bottom:50px;
	left:33%;
}
.circleci {
	position:absolute;
	width:90px;
	height:20px;
	margin-left:-30px;
	bottom:50px;
	left:66%;
}
