h1 {
    text-align: center;
}

.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .row {
    display: table-row;
}

.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .row  > * {
    display: table-cell;
    vertical-align: middle;
}

.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .username {
    padding: 0 10px;
}

.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .id {
    font-size: 12px;
    color: #777;
    font-variant: small-caps;
}

.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .avatar img {
    height: 26px;
    width: 26px;
}

.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .project-logo {
    display: inline-block;
    height: 100px;
}

.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .project-logo img {
    height: 100%;
}

.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .project-information {
    display: inline-block;
    vertical-align: top;
    padding: 20px 0 0 20px;
}

.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .project-information > span {
    display: block;
    margin-bottom: 5px;
}

.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result > ul > li > a small {
    padding-left: 0px;
    color: #999;
}

.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .project-information li {
    font-size: 12px;
}