<nav id="navbar-container" class="navbar navbar-inverse navbar-fixed-top"></nav>
<div class="container">
    <div class="page-content">

        <div id="add-team-form" class="form-inline">
            <input id="suggestion-input" type="text" class="form-control" placeholder="City">
            <input id="latitude-input" type="text" class="form-control" placeholder="Latitude">
            <input id="longitude-input" type="text" class="form-control" placeholder="Longitude">
            <span class="input-group-btn" id="btn-search">
                <button id="get-suggestions-btn" class="btn btn-default" type="button">Search</button>
            </span>
        </div>

        <br>
        <div id="search-results"></div>

    </div>
</div>
