<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Score</th>
            <th>Map</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>