<tr class="city-row">
    <td class="text-left">{{ name }}</td>
    <td class="text-left">{{ latitude }}</td>
    <td class="text-left">{{ longitude }}</td>
    <td class="text-left">{{ score }}</td>
    <td class="text-left"><a href="{{ maps_url }}">Go</td>
</tr>