<div class="container">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="">City Suggestions</a>
        </div>
    </div>
</div>