{busbudcc, [{webserver_port, 9000},
            {database_host, <<"db.host">>},
            {database_user, <<"busbudcc_user">>},
            {database_password, <<"6cb8afa93f54b735">>},
            {database_name, <<"busbud_dev">>}]}.
