html, body
  background-color hsl(0, 0%, 95%)
  font-family 'Open Sans'

.main-content
  margin 0 auto
  max-width 400px

  header
    font-family 'Oswald'
    text-align center

    h2
      font-weight normal

#search-form
  margin-top 1px
  margin-bottom 0

#search
  border-radius 4px
  border 1px solid hsl(0, 0%, 40%)
  padding 6px 12px
  outline 0
  width 400px
  font-size 16px

.search-results
  width: 380px
  margin: 0 auto
  border: 1px solid hsl(0, 0%, 50%)
  border-top: 0
  padding: 0
  border-radius: 0 0 4px 4px

  .search-result
    padding: 4px
    border-bottom: 1px solid hsl(0, 0%, 70%)
    background-color: hsl(0, 0%, 98%)
    font-size: 14px
    &:last-child
      border-bottom 0
